body {
    height:100vh;
    background: linear-gradient(90deg, hsla(49, 100%, 48%, 1) 0%, hsla(226, 69%, 30%, 1) 100%);

 }

table, th, td {
    border: 1.5px solid lightseagreen;
    border-style:dashed;
  }

tr {
  color: white;
}

tr:nth-child(even) {
  background-color: yellowgreen;
}